{{ extend 'layout.html' }}

{{ block page_name }}Bienvenido a SALUDPOL{{ end }}

{{ block breadcrumb }}
{{ end }}

{{ block content }}
    <div id="noty" style="float: right;"></div>

    <div class="text-center">
        {{=IMG(_src=URL('static','images/logo_saludpol.png'), _alt="Logo SALUDPOL")}}
    </div>

    {{ if response.flash: }}
        <script type="text/javascript">
            $(document).ready(function() {
                var n = $("#noty").noty({
                    layout: 'topRight',
                    text: '{{=response.flash}}',
                    type: 'warning',
                });
            });
        </script>
    {{ pass }}

{{ end }}
