{{extend 'layout.html'}}

{{ block page_name }}Inicio de sesión{{ end }}

{{ block breadcrumb }}
{{ end }}

{{ block extra_css }}
    <style type="text/css">
        .panel-heading {
            padding: 5px 15px;
        }

        .panel-footer {
            padding: 1px 15px;
            color: #A0A0A0;
        }

        .profile-img {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
    </style>
{{ end }}

{{ block content }}
    <div id="web2py_user_form">
        {{
            if request.args(0)=='login' and not session.auth_2_factor_user:
                if not 'register' in auth.settings.actions_disabled:
                    form.add_button(T('Register'), URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None), _class='btn btn-default')
                pass
                if not 'request_reset_password' in auth.settings.actions_disabled:
                    form.add_button(T('Lost Password'), URL(args='request_reset_password'), _class='btn btn-default')
                pass
            pass
            try:
                form.element('form')['_class'] = 'form-horizontal'
                form.element(_type='submit')['_class'] = 'btn btn-success btn-block'
                form.element('#auth_user_email')['_class'] = 'form-control'
                form.element('#auth_user_email')['_placeholder'] = 'Email'
                form.element('#auth_user_password')['_class'] = 'form-control'
                form.element('#auth_user_password')['_placeholder'] = 'Contraseña'
            except TypeError:
                pass
        }}

        {{ if form.formname == 'login': }}
            <div class="container" style="margin-top:40px">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{=form.custom.begin}}
                                    <fieldset>
                                        <div class="row">
                                            <div class="center-block">
                                                <img class="profile-img" src="{{=URL('static', 'img/avatar0.png')}}" alt="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-user"></i>
                                                        </span>
                                                        {{=form.custom.widget.email}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-lock"></i>
                                                        </span>
                                                        {{=form.custom.widget.password}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                {{=form.custom.end}}
                            </div>
                            <div class="panel-footer ">
                                <a href="{{=URL(args='request_reset_password')}}" onClick=""> ¿Olvidaste tu contraseña? </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ elif form.formname == 'reset_password': }}
            {{=form}}
        {{ pass }}
    </div>

    <script language="javascript"><!--
        jQuery("#web2py_user_form input:visible:enabled:first").focus();
        {{if request.args(0)=='register':}}
            web2py_validate_entropy(jQuery('#auth_user_password'),100);
        {{elif request.args(0) in ('change_password','reset_password'):}}
            web2py_validate_entropy(jQuery('#no_table_new_password'),100);
        {{pass}}
    </script>
{{ end }}

