{{extend 'layout.html'}}

{{ block page_name }}C.I.E.{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">C.I.E.</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
