{{extend 'layout.html'}}

{{ block page_name }}Fármacos{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Fármacos</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
