{{extend 'layout.html'}}

{{ block page_name }}Ingreso Masivo{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Ingreso Masivo</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
