{{extend 'layout.html'}}

{{ block page_name }}Centros Médicos{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Centros Médicos</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
