{{extend 'layout.html'}}

{{ block page_name }}Régimen{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Régimen</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
