{{extend 'layout.html'}}

{{ block page_name }}Especialistas{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Especialistas</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
