{{extend 'layout.html'}}

{{ block page_name }}Estudios{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Estudios</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
