{{extend 'layout.html'}}

{{ block page_name }}Unidades{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Unidades</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
