{{extend 'layout.html'}}

{{ block page_name }}Usuarios - Administración{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Usuarios - Administración</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
