{{extend 'layout.html'}}

{{ block page_name }}Usuarios - Grupos{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Usuarios - Grupos</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
