{{extend 'layout.html'}}

{{ block page_name }}Atenciones por Especilidad{{ end }}

{{ block breadcrumb }}
    <li>Reportes</li>
    <li class="active">Atenciones por Especilidad</li>
{{ end }}

{{ block content }}
    <table class="table table-bordered">
        <tr>
            <td><strong>Especialidad</strong></td>
            <td><strong>Atenciones</strong></td>
        </tr>
        {{for line in data:}}
            <tr>
                <td>{{=line.specialities.name}}</td>
                <td>{{=line[count]}}</td>
            </tr>
        {{pass}}
    </table>
{{ end }}
