{{extend 'layout.html'}}

{{ block page_name }}Diagnósticos{{ end }}

{{ block breadcrumb }}
    <li>Reportes</li>
    <li class="active">Diagnósticos</li>
{{ end }}

{{ block content }}
    <table class="table table-bordered">
        <tr>
            <td><strong>Código</strong></td>
            <td><strong>Diagnóstico</strong></td>
            <td><strong>Cantidad</strong></td>
        </tr>
        {{for line in data:}}
            <tr>
                <td>{{=line.cie.code}}</td>
                <td>{{=line.cie.name}}</td>
                <td>{{=line[count]}}</td>
            </tr>
        {{pass}}
    </table>
{{ end }}
