{{extend 'layout.html'}}

{{ block page_name }}Formulario de Atención Básica{{ end }}

{{ block breadcrumb }}
    <li>Transacciones</li>
    <li class="active">Formlulario de Atención Básica</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
