{{extend 'layout.html'}}

{{ block page_name }}Atenciones{{ end }}

{{ block breadcrumb }}
    <li>Transacciones</li>
    <li class="active">Atenciones</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
