{{extend 'layout.html'}}

{{ block page_name }}Atención completa{{ end }}

{{ block breadcrumb }}
    <li>Transacciones</li>
    <li class="active">Atención completa</li>
{{ end }}

{{ block content }}
    <div id="noty"></div>

    {{=grid_operation}}

    <div id="procedures">
        <p class="bg-primary lead text-center" style="padding-top: 5px; padding-bottom: 5px;">
            <strong>Procedimientos</strong>
        </p>
        <table class="table table-bordered table-hover web2py_grid">
            <thead>
                <tr>
                    <th width="30%">Procedimiento</th>
                    <th>Indicaciones</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{ if procedures: }}
                    {{ for procedure in procedures: }}
                        <tr>
                            <td>{{=procedure.related_procedure.name}}</td>
                            <td>{{=procedure.indication}}</td>
                            <td width="5%"><a href="{{=URL('operation', 'full_care', args=[procedure.related_operation.id, speciality], vars={'delete_procedure': procedure.id})}}" class="btn btn-danger btn-xs">Eliminar</a></td>
                        </tr>
                    {{ pass }}
                {{ else: }}
                    <tr>
                        <td colspan="10"><i>No se encontraron registros de procedimientos</i></td>
                    </tr>
                {{ pass }}
            </tbody>
        </table>
        <p class="lead">Agregar un registro:</p>
        {{=form_procedure}}
    </div>

    <div id="prescriptions">
        <p class="bg-primary lead text-center" style="padding-top: 5px; padding-bottom: 5px;">
            <strong>Prescripciones</strong>
        </p>
        <table class="table table-bordered table-hover web2py_grid">
            <thead>
                <tr>
                    <th>Fármarco</th>
                    <th>Cantidad</th>
                    <th>Indicaciones</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{ if prescriptions: }}
                    {{ for prescription in prescriptions: }}
                        <tr>
                            <td>{{=prescription.drug.name}}</td>
                            <td>{{=prescription.quantity}}</td>
                            <td>{{=prescription.indication}}</td>
                            <td width="5%"><a href="{{=URL('operation', 'full_care', args=[prescription.related_operation.id, speciality], vars={'delete_prescription': prescription.id})}}" class="btn btn-danger btn-xs">Eliminar</a></td>
                        </tr>
                    {{ pass }}
                {{ else: }}
                    <tr>
                        <td colspan="10"><i>No se encontraron registros de prescripciones</i></td>
                    </tr>
                {{ pass }}
            </tbody>
        </table>
        <p class="lead">Agregar un registro:</p>
        {{=form_prescription.custom.begin}}
        <fieldset>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Fármaco</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="70%">{{=form_prescription.custom.widget.drug}}</td>
                        <td>{{=form_prescription.custom.widget.quantity}}</td>
                    </tr>
                </tbody>
            </table>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Indicaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="100%">{{=form_prescription.custom.widget.indication}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-actions" id="submit_record__row">
                {{=form_prescription.custom.submit}}
            </div>
        </fieldset>
        {{=form_prescription.custom.end}}
    </div>

    <div id="imagenology">
        <p class="bg-primary lead text-center" style="padding-top: 5px; padding-bottom: 5px;">
            <strong>Imagenología</strong>
        </p>
        <table class="table table-bordered table-hover web2py_grid">
            <thead>
                <tr>
                    <th>Imagenología</th>
                    <th>Indicaciones</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{ if imagenologies: }}
                    {{ for imagenology in imagenologies: }}
                        <tr>
                            <td>{{=imagenology.related_imagenology.name}}</td>
                            <td>{{=imagenology.indication}}</td>
                            <td width="5%"><a href="{{=URL('operation', 'full_care', args=[imagenology.related_operation.id, speciality], vars={'delete_imagenology': imagenology.id})}}" class="btn btn-danger btn-xs">Eliminar</a></td>
                        </tr>
                    {{ pass }}
                {{ else: }}
                    <tr>
                        <td colspan="10"><i>No se encontraron registros de imagenología</i></td>
                    </tr>
                {{ pass }}
            </tbody>
        </table>
        <p class="lead">Agregar un registro:</p>
        {{=form_imagenology}}
    </div>

    <div id="laboratories">
        <p class="bg-primary lead text-center" style="padding-top: 5px; padding-bottom: 5px;">
            <strong>Laboratorio</strong>
        </p>
        <table class="table table-bordered table-hover web2py_grid">
            <thead>
                <tr>
                    <th>Examen médico</th>
                    <th>Indicaciones</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{ if laboratories: }}
                    {{ for laboratory in laboratories: }}
                        <tr>
                            <td>{{=laboratory.related_test.name}}</td>
                            <td>{{=laboratory.indication}}</td>
                            <td width="5%"><a href="{{=URL('operation', 'full_care', args=[laboratory.related_operation.id, speciality], vars={'delete_laboratory': laboratory.id})}}" class="btn btn-danger btn-xs">Eliminar</a></td>
                        </tr>
                    {{ pass }}
                {{ else: }}
                    <tr>
                        <td colspan="10"><i>No se encontraron registros de laboratorios</i></td>
                    </tr>
                {{ pass }}
            </tbody>
        </table>
        <p class="lead">Agregar un registro:</p>
        {{=form_laboratory}}
    </div>

    <div id="hospitalizations">
        <p class="bg-primary lead text-center" style="padding-top: 5px; padding-bottom: 5px;">
            <strong>Hospitalización</strong>
        </p>
        <table class="table table-bordered table-hover web2py_grid">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Fecha Relacionada</th>
                    <th>Indicaciones</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{ if hospitalizations: }}
                    {{ for hospitalization in hospitalizations: }}
                        <tr>
                            <td>
                                {{if hospitalization.register_mode == 0:}}
                                    {{=T('Input')}}
                                {{else:}}
                                    {{=T('Output')}}
                                {{pass}}
                            </td>
                            <td>{{=hospitalization.related_date.strftime('%d/%m/%Y')}}</td>
                            <td>{{=hospitalization.indication}}</td>
                            <td width="5%"><a href="{{=URL('operation', 'full_care', args=[hospitalization.related_operation.id, speciality], vars={'delete_hospitalization': hospitalization.id})}}" class="btn btn-danger btn-xs">Eliminar</a></td>
                        </tr>
                    {{ pass }}
                {{ else: }}
                    <tr>
                        <td colspan="10"><i>No se encontraron registros de hospitalizaciones</i></td>
                    </tr>
                {{ pass }}
            </tbody>
        </table>
        <p class="lead">Agregar un registro:</p>
        {{=form_hospitalization}}
    </div>

    {{ if response.flash: }}
        <script type="text/javascript">
            $(document).ready(function() {
                $("#noty").noty({
                    text: "{{=response.flash}}",
                    type: "warning",
                });
            });
        </script>
    {{ pass }}
{{ end }}
