{{extend 'layout.html'}}

{{ block page_name }}Identificación{{ end }}

{{ block breadcrumb }}
    <li>Transacciones</li>
    <li class="active">Identificación</li>
{{ end }}

{{ block content }}
{{ end }}
