{{extend 'layout.html'}}

{{ block page_name }}Cartas de Garantía{{ end }}

{{ block breadcrumb }}
    <li>Transacciones</li>
    <li class="active">Garantías</li>
{{ end }}

{{ block content }}
{{ end }}
